 @font-face { 
	 font-family: Helvetica; src: url('../helvetica.otf'); } 

.top-menu {
	clear: left;
	font-family: Helvetica, sans-serif;
   overflow: hidden;
   background-color: #fc5bb4;
   position: fixed;
   margin-top: 0px;
   top: 0;
   right: 0;
	width: 100%;
	min-height: 80px;

	background-image: url("../img/shell-icon-bg.svg");
	background-size: 70px 70px;
}

.top-menu li {
	font-family: Helvetica, sans-serif;
   list-style-type: none;
   text-decoration: none;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	text-align: center; 
	color: black;
	font-weight: bold;
	
}

.logo {
	font-weight: bold;
   float: left;
   display: inline-block;
   color: #f2f2f2;
   text-align: center;
   padding: 7px 7px;
   text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
	/* font-family: Helvetica; */

}

.cart {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
   float: right;
   display: inline-block;
	color: black;
   text-align: center;
   padding: 20px 15px;
   text-decoration: none;
	font-size: 25px;
	text-transform: uppercase;
	/* font-family: Helvetica; */

}

.top-menu cart:hover {
   color: darkturquoise;
}

.logo img {
	width: 50px;
	height: 50px;
	margin: auto;
	border: 3px;
	padding: 10px;
	float: left;
}

.navbar {
	float: left;
	font-family: Helvetica, sans-serif;
	/* background-color: darkturquoise; */
	padding-top: 120px; 
	padding-left: 10px;
	text-transform: capitalize;
	text-decoration: none;
	max-width: 160px;
	text-decoration-style: none;
}

.navbar a {
	font-family: Helvetica, sans-serif;
	text-transform: inherit;
	color: black;
	font-weight: bold; 
	text-decoration: none;
	text-decoration-style: none;
	font-size: 85%;
}


.navbar a:hover {
	color: #fc5bb4;
	display: inline-block;
	text-transform: inherit;
}

.navbar p {
	font-family: Helvetica, sans-serif;

	text-transform: uppercase;
	line-height: 0.75;
	/* color: #fc5bb4; */
}

body {
	font-family: Helvetica, sans-serif;

	background-color: darkturquoise;
	background-image: url("../img/shell-icon-bg.svg");
	background-size: 50px 50px;
}

footer {
	padding: 1em;
	font-family: Helvetica, sans-serif;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #fc5bb4;
	text-align: left;
	size: 12px;
	font-weight: bold;

	/* background-color: darkturquoise; */
	background-image: url("../img/shell-icon-bg.svg");
	background-size: 30px 30px;
}

.rowcategory {
	 clear: top;
    margin-left: 170px;
	 padding-top: 120px;
	 padding-left: 20px; 
	 overflow: hidden;
	 font-size: 140%;
	 font-weight: bold;
	 text-transform: uppercase;

	 color: black;
}

.rowcategory a:link {
	text-decoration: none;
}