<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNIBooks</title>
 
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    
  <meta name="description" content="Sell your books here!">
    <meta name="author" content="SitePoint">
	</head>
<body>
      <ul class="top-menu">
         
         <div class="logo"> 
            <a href="/">
            <img src="../static/img/logo.png">
            </a>
         </div>
   
         <div class="cart">
            <a target="" href="#"><li>Cart</li></a>
         </div>

      </ul>
      <div class="navbar">
         {% for index in range(dirs|length) %}
          {% if cats[index] != hover %}
            <p> <a href="{{dirs[index]}}"> {{ cats[index] }} </p>   
          {% else %}
            <p> <a style="color:#fc5bb4;" href="{{dirs[index]}}"> {{ cats[index] }} </p> </a>
          {% endif %}
        {% endfor %}  
      </div>
      
      <div class="rowcategory">
        <a>{{ hover }}</a>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>

      </div>
