<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNIBooks</title>
 
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    
  <meta name="description" content="Sell your books here!">
    <meta name="author" content="SitePoint">
	</head>
<body>


      <ul class="top-menu">
         
         <div class="logo"> 
            <a href="#">
            <img src="../static/logo.png">
            </a>
         </div>
   
         <div class="cart">
            <a target="" href="#"><li>Cart</li></a>
         </div>

      </ul>
      <div class="navbar">
        {% for index in range(dirs|length) %}
          <p> <a href="{{dirs[index]}}"> {{ cats[index] }} </p>
        {% endfor %} 
      </div>
      
      <div class="menu-visible">
         <ul class="site-nav" id="AccessibleNav">
         </ul>
      </div>